body {
    font-family: 'Segoe UI', sans-serif;
    background: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: #1d6b34;
    text-align: center;
}
h2 {
    color: #444;
    margin-top: 25px;
}
label {
    display: block;
    margin-top: 10px;
}
input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background: #1d6b34;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
button:hover {
    background: #28a745;
}
#resultadoArea, #resultadoPrecio, #resultadoCanto, #resumen {
    margin-top: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 5px;
}
